:root {
    --color-text: #0000008c;
}

nav {
    display: flex;
    justify-content: center;
    gap: 20px;

    margin: 16px 0 32px;

    flex-wrap: wrap;
}

nav a {
    text-decoration: none;
    color: var(--color-text);
    font-weight: 600;

    padding: 2px;

    border-bottom: 2px solid rgb(69, 224, 224);
}

nav a:hover {
    color: rgb(69, 224, 224);
}

.limited-width {
    text-align: center;
}

section {
    margin: 50px 0;
}

.especialidade {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.especialidade img {
    width: 300px;
}

table tbody tr:nth-child(odd) {
    background-color: #b4b4b48c;
}

table tbody tr:nth-child(even) {
    background-color: #e4e4e48c;
}

table thead th {
    background-color: rgb(69, 224, 224);
    color: white;

    padding: 16px 0;
}

table tbody td {
    padding: 0 26px;
}

table {
    border-collapse: collapse;

    text-align: start;
    height: 300px;
    width: 100%;
}

@media (max-width: 425px) {
    .limited-width {
        max-width: 425px;
    }

    .especialidade img {
        display: none;
    }
}

@media (max-width:768px) {
    .limited-width {
        max-width: 768px;
    }

    .especialidade img {
        display: none;
    }
}